.emoji__drawer {
  background-color: cyan;
  margin-top: -110px;
  position: fixed;
  border: 1px solid;
  width: 5em;
  right: 0;
}

.emoji_picker {
  float: right;
  margin-top: -25px;
  transform: translateX(-40px);
}

.emoji_style {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  margin: 2px;
}
.emoji_buttonStyle {
  cursor: pointer;
}