.profile_container {
  width: 100%;
  background: red;
  display: grid;
}

.profile_header {
  position: relative;
  padding: 40px 40px 120px;
}
.profile_pic {
  width: 120px;
  height: 120px;
  background: yellow;
  position: absolute;
  bottom: -10px;
}

.profile_bio {
  background: blue;
  padding: 40px;
}

.profile_gallery {
  background: purple;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.profile_columns {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.profile_photos {
  height: 80px;
  width: 80px;
  background: green;
}

.profile_videos {
  height: 80px;
  width: 80px;
  background: green;
}
