.profileContainer {
  width: 100%;
  background: red;
  display: grid;
}

.profileHeader {
  position: relative;
  padding: 40px 40px 120px;
}
.profilePic {
  width: 120px;
  height: 120px;
  background: yellow;
  position: absolute;
  bottom: -10px;
}

.profileBio {
  background: blue;
  padding: 40px;
}

.profileGallery {
  background: purple;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.profileColumns {
  display: block;
  justify-content: space-around;
  margin-top: 40px;
}

.profilePhotos {
  height: 80px;
  width: 80px;
  background: green;
}

.profileVideos {
  height: 80px;
  width: 80px;
  background: green;
}
