.chat__sendBtn {
  background-color: #009f81;
  height: 32px;
  width: 36px;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-left: 20px;
  color: white;
  font-size: 8px;
  border-radius: 0 0 10px;
}

.chat_input {
  display: table-cell;
  height: 30px;
  border: initial;
  width: 90%;
  border-radius: 8px;
  background-color: white;
  outline: none;
}

